/* univeral selector */
* {
    color: #2f5274;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*element selectors*/
header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #002c58;
}

h2 {
    font-size: 40px;
}
a {
    text-decoration: none;
}

body {
    background-color:rgb(249, 249, 249);
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "contact_me contact_info contact_info";
    grid-template-columns: 0.5fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*id selectors*/
#paragraphs {
    display: grid;
    grid-template-areas:
        "about paragraph1 paragraph1"
        "about paragraph2 paragraph2";
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

#about_me {
    grid-area: about;
    border-right-style: solid;
    border-right-width: 5px;
    padding-left: 5px;
}

#paragraph1 {
    grid-area: paragraph1;
}
#paragraph2 {
    grid-area: paragraph2;
}
#name {
    background-color: rgb(162, 230, 255);
}

#portrait {
    height: 50px;
    width: auto;
}

#subtitle {
    text-align: right;
    background-color: rgb(162, 230, 255);
    margin-left: 75%;
}

#heading_links {
    text-align: right;
    padding-right: 10px;
}

#container {
    display: grid;
    background-image: url('../images/background.jpeg');
    padding: 5%;
    background-size: cover;
}

#work_pieces {
    display: grid;
    grid-template-areas: 
        "work surf_report surf_report"
        "work surf_report surf_report"
        "work led_wall calculator"
        "work pastel_puzzles run_buddy"
    ;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

#work {
    grid-area: work;
    border-right-style: solid;
    border-right-width: 5px;
    padding-left: 5px;
}

#surf_report {
    grid-area: surf_report;
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#led_wall {
    grid-area: led_wall;
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#calculator {
    grid-area: calculator;
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#pastel_puzzles {
    grid-area: pastel_puzzles;
    background-color: #94b7d9;
    border: 5px solid rgb(162, 230, 255);
    height: 100%;
    width: 100%
}

#run_buddy {
    grid-area: run_buddy;
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

#contact_me {
    border-right-style: solid;
    border-right-width: 5px;
    grid-area: contact_me;
    padding-left: 5px;
}

#contact_info {
    grid-area: contact_info;
    text-align: right;
    padding-right: 10px;
}

#pastel_puzzles:hover {
    border: 7px solid;
}
#led_wall,
#surf_report,
#calculator,
#run_buddy {
    border: 5px solid rgb(162, 230, 255);
}

#led_wall:hover,
#surf_report:hover,
#calculator:hover,
#run_buddy:hover {
    border: 7px solid;
}

/*id selectors for resume*/
#education, 
#experience,
#volunteer,
#skills {
    display: grid;
    grid-template-areas: 
    "heading subtext";
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 20px;
}

/*class selectors*/
.heading:hover {
    font-weight: bold;
}
.heading {
    border-bottom: solid 5px rgb(162, 230, 255);
    color: rgb(162, 230, 255);
}

.largerimage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.front_text {
    position: relative;
    z-index: 1;
    background-color: rgb(162, 230, 255);
    text-align: left;
    margin-top: 80%;
    margin-right: 50%;
    margin-bottom: 5%;
    padding: 5px;
    padding-left: 5%;
}


.images {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.surf_text {
    margin-right: 70.5%;
    margin-bottom: 12.5%;
    padding: 5px;
    padding-left: 2.5%;
}

.puzzle_text {
    margin-right: 51%;
    margin-top: 80%
}

.footer {
    border-bottom: 5px solid;
    padding-left: 5px;
}

/*class selectors for Resume*/
.title {
    grid-area: heading;
    border-right: 5px solid;
    padding-left: 5px;
}

.subtext {
    grid-area: subtext;
}

/* for the screen changes*/ 

@media screen and (max-width: 2560px) {
    .surf_text {
        margin-right: 74.5%;
    }
}
@media screen and (max-width: 820px) {
    #contact_me {
        font-size: 30px;
    }
    .front_text {
        margin-right: 30%;
    }
    .surf_text {
        margin-right: 64.5%;
    }
}

@media screen and (max-width: 540px) {
    .front_text {
        margin: 0;
        padding: 0;
    }
    #pastel_puzzles {
        background-color: rgb(162, 230, 255);
    }
    #subtitle {
        margin-left: 40%;
    }
    h2 {
        font-size: 30px;
    }
    body {
        font-size: 15px;
    }
    #contact_me {
        font-size: 23.75px;
    }
    #work {
        font-size: 33px;
    }
}