/* univeral selector */
* {
    color: #2f5274;
    padding: 0;
    margin: 0;
}

/*element selectors*/
header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #002c58;
}

a {
    text-decoration: none;
}

body {
    background-color:rgb(209, 243, 255);
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "contact_me contact_info";
    grid-template-columns: 0.5fr 2fr;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

/*id selectors*/
#paragraphs {
    display: grid;
    grid-template-areas:
        "about paragraph1 paragraph1"
        "about paragraph2 paragraph2";
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

#about_me {
    grid-area: about;
    border-right-style: solid;
    border-right-width: 5px;
    padding-left: 5px;
}

#paragraph1 {
    grid-area: paragraph1;
}
#paragraph2 {
    grid-area: paragraph2;
}
#name {
    background-color: lightskyblue;
}

#portrait {
    height: 50px;
    width: auto;
}

#subtitle {
    text-align: right;
    background-color: lightskyblue;
    margin-left: 75%;
}

#heading_links {
    text-align: right;
}
#container {
    display: grid;
    background-image: url('./background.jpeg');
    padding: 5%;
    background-size: cover;
}

#work_pieces {
    display: grid;
    grid-template-areas: 
        "work surf_report surf_report"
        "work surf_report surf_report"
        "work led_wall calculator"
        "work pastel_puzzles run_buddy"
    ;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

#work {
    grid-area: work;
    border-right-style: solid;
    border-right-width: 5px;
    padding-left: 5px;
}

#surf_report {
    grid-area: surf_report;
}

#led_wall {
    grid-area: led_wall;
}

#calculator {
    grid-area: calculator;
}

#pastel_puzzles {
    grid-area: pastel_puzzles;
    background-color: #60a0e0;
}

#run_buddy {
    grid-area: run_buddy;
    
}

#contact_me {
    border-right-style: solid;
    border-right-color:#002c58;
    border-right-width: 5px;
    grid-area: contact_me;
}

#contact_info {
    grid-area: contact_info;
}
/*class selectors*/
.heading {
    border: solid 5px lightskyblue;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    color: lightskyblue;
}

.largerimage {
    z-index: 0;
    width: 100%;
    height: 100%;
}


.surf {
    z-index: 2;
}

.images {
    width: 100%;
    height: 100%;
}



